body {
    display: grid;
    overflow: auto;
}

.card {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.omelette-img {
    width: 98%;
    height: 8%;
}

.description-section {
    width: 95%;
}

.dish-title {
    font-family: "Young Serif";
    font-size: 2.35rem;
    font-weight: 400;
    color: hsl(24, 5%, 18%);
    margin-top: 2.3rem;
    margin-left: 1.3rem;
    margin-right: 14rem;
}

.presentation {
    font-family: "Outfit";
    font-size: 1rem;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
    margin-left: 1.6rem;
    margin-right: 16rem;
    line-height: 1.5rem;
}

.preparation-title {
    font-family: "Outfit";
    font-size: 1.3rem;
    font-weight: 600;
    color: hsl(332, 51%, 32%);
    margin-top: 4rem;
    margin-left: 3.4rem;
}

ul {
    list-style: disc;
    color: hsl(332, 51%, 32%);
}

.preparation-section {
    width: 100%;
}

.preparation-list {
    margin-left: 2rem;
    margin-right: 0.1rem;
    margin-bottom: 1em;
}

li::marker {
    font-size: 0.7em;
    color: hsl(332, 51%, 32%);
}

.total {
    font-family: "Outfit";
    font-size: 1rem;
    font-weight: 700;
    color: hsl(24, 5%, 18%);
    width: 0.25rem;
    margin-left: 1.5rem;
}

.time {
    font-family: "Outfit";
    font-size: 1rem;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
    margin-top: 1rem;
    margin-left: 0.25rem;
}

.minutes {
    display: block;
    font-family: "Outfit";
    font-size: 1rem;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
    margin-top: 0.25rem;
    margin-left: 1.6rem;
    margin-right: 0;
}

.preparation {
    font-family: "Outfit";
    font-size: 1rem;
    font-weight: 700;
    color: hsl(24, 5%, 18%);
    width: 0.25rem;
    margin-left: 1.5rem;
}

.cooking {
    font-family: "Outfit";
    font-size: 1rem;
    font-weight: 700;
    color: hsl(24, 5%, 18%);
    width: 0.25rem;
    margin-left: 1.5rem;
}

.ingredients-section {
    width: 100%;
}

.ingredients-title {
    font-family: "Young Serif";
    font-size: 1.8rem;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
    margin-top: 3rem;
    margin-left: 1.8rem;
}

.ingredients-list {
    font-family: "Outfit";
    font-size: 1rem;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
    margin-top: 0.6rem;
    margin-left: 1.6rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding-left: 0.4rem;
    line-height: 0.7rem;
}

.hr-container {
    text-align: center;
    padding: 0.5rem;
}

.hr {
    width: 20rem;
    background-color: hsl(30, 10%, 34%);
    border-color: hsl(0, 0%, 100%);
    margin-left: 1rem;
}

.instruction-section {
    width: 100%;
}

.instructions-title {
    font-family: "Young Serif";
    font-size: 1.8rem;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
    margin-top: 1rem;
    margin-left: 1.8rem;
}

.instructions-section ol {
    margin-right: 1rem;
}

.instructions-section ol li::marker {
    font-family: "Outfit";
    font-size: 1rem;
    font-weight: 600;
}

.instructions-list {
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 15rem;
}

.first, .second, .third, .fourth, .fifth, .sixth  {
    font-family: "Outfit";
    font-size: 1rem;
    font-weight: 700;
    color: hsl(30, 10%, 34%);
    margin-left: 0.1rem;
    margin-right: 0;
    line-height: 1rem;
    word-spacing: 0.1rem;
}

.step-one, .step-two, .step-three, .step-four, .step-five, .step-six {
    font-family: "Outfit";
    font-size: 1rem;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
    margin-top: 1rem;
    margin-left: 0.51rem;
    margin-right: 13.9rem;
    padding-right: 1rem;
    word-spacing: 0.1rem;
    line-height: 1.5rem;
}

.nutrition-title {
    font-family: "Young Serif";
    font-size: 1.8rem;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
    margin-top: 1rem;
    margin-left: 1.8rem;
}

.nutrition-info {
    font-family: "Outfit";
    font-size: 1.03rem;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
    margin-left: 1.8rem;
    margin-right: 15rem;
    line-height: 1.5rem;
}

.no-bullets-ul {
    list-style-type: none;
}

.nutrition-list {
    font-family: "Outfit";
    font-size: 1.03rem;
    font-weight: 400;
    line-height: 2rem;
}

.detail {
    font-family: "Outfit";
    font-size: 1.03rem;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
    margin-top: 0.1rem;
    margin-left: 1.2rem;
    padding-right: 3rem;
}

.calories-amount {
    font-family: "Outfit";
    font-weight: 700;
    color: hsl(14, 45%, 36%);
    padding-left: 2rem;
    
}

.carbs-amount {
    font-family: "Outfit";
    font-weight: 700;
    color: hsl(14, 45%, 36%);
    padding-left: 3rem;
}

.protein-amount {
    font-family: "Outfit";
    font-weight: 700;
    color: hsl(14, 45%, 36%);
    padding-left: 2.5rem;
}

.fat-amount {
    font-family: "Outfit";
    font-weight: 700;
    color: hsl(14, 45%, 36%);
    padding-left: 4.3rem;
}

.nutrition-hr {
    width: 19.7rem;
    background-color: hsl(30, 10%, 34%);
    border-color: hsl(0, 0%, 100%);
    margin-top: 0.05rem;
    margin-left: -1.2rem;
}
