body {
    display: grid;
    overflow: auto;
}

.card {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.omelette-img {
    width: 100%;
    height: 14%;
}

.description-section {
    width: 100%;
}

h1 {
    font-family: "Young Serif";
    font-size: 2.35rem;
    font-weight: 400;
    color: hsl(24, 5%, 18%);
    margin-top: 2.3rem;
    margin-left: 1.3rem;
    margin-right: 1rem;
}

.presentation {
    font-family: "Outfit";
    font-size: 1.03rem;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
    margin-left: 1.5rem;
    margin-right: 1.7rem;
    line-height: 1.5rem;
}

h2 {
    font-family: "Outfit";
    font-size: 1.36rem;
    font-weight: 600;
    color: hsl(332, 51%, 32%);
    margin-top: 3rem;
    margin-left: 2.9rem;
}

ul {
    list-style: disc;
    color: hsl(332, 51%, 32%);
}

.preparation-list {
    margin-left: 1.5rem;
    margin-right: 0.1rem;
    margin-bottom: 1em;
}

li::marker {
    font-size: 0.7em;
    color: hsl(332, 51%, 32%);
}

.total {
    font-family: "Outfit";
    font-size: 1rem;
    font-weight: 700;
    color: hsl(24, 5%, 18%);
    width: 0.25rem;
    margin-left: 1.5rem;
}

.time {
    font-family: "Outfit";
    font-size: 1rem;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
    margin-top: 1rem;
    margin-left: 0.25rem;
}

.minutes {
    display: block;
    font-family: "Outfit";
    font-size: 1rem;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
    margin-top: 0.25rem;
    margin-left: 1.6rem;
    margin-right: 0;
}

.preparation {
    font-family: "Outfit";
    font-size: 1rem;
    font-weight: 700;
    color: hsl(24, 5%, 18%);
    width: 0.25rem;
    margin-left: 1.5rem;
}

.cooking {
    font-family: "Outfit";
    font-size: 1rem;
    font-weight: 700;
    color: hsl(24, 5%, 18%);
    width: 0.25rem;
    margin-left: 1.5rem;
}

.ingredients-title {
    font-family: "Young Serif";
    font-size: 1.8rem;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
    margin-top: 3rem;
    margin-left: 1.8rem;
}

.ingredients-list {
    font-family: "Outfit";
    font-size: 1rem;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
    margin-left: 0.45rem;
    margin-right: 0.1rem;
    margin-bottom: 1rem;
    padding-left: 1.8rem;
    line-height: 1.2rem;
}

.hr-container {
    text-align: center;
    padding: 0.5rem;
}

.hr {
    width: 20rem;
    background-color: hsl(30, 10%, 34%);
    border-color: hsl(0, 0%, 100%);
}

.instructions-title {
    font-family: "Young Serif";
    font-size: 1.8rem;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
    margin-top: 1rem;
    margin-left: 1.8rem;
}

.instructions-section ol li::marker {
    font-family: "Outfit";
    font-size: 1rem;
    font-weight: 600;
}

.instructions-list {
    padding-bottom: 1rem;
}

.first, .second, .third, .fourth, .fifth, .sixth  {
    font-family: "Outfit";
    font-size: 1rem;
    font-weight: 700;
    color: hsl(24, 5%, 18%);
    width: 0.25rem;
    margin-left: 1.8rem;
    line-height: 1rem;
}

.step-one, .step-two, .step-three, .step-four, .step-five, .step-six {
    font-family: "Outfit";
    font-size: 1rem;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
    margin-top: 1rem;
    margin-left: 0.35rem; 
    margin-right: 1rem;
    line-height: 1.8rem;
}

